@page
@model _02_02_2024.Pages.StationPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Station[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station[0].FloodLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station[0].DroughtLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station[0].TimeOutInMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Station) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloodLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DroughtLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOutInMinutes)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-check" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
